*, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}
html{
    font-size: 10px;
}
body{
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator-frame{
    padding: clamp(0.5rem, 2vw, 1rem) clamp(1.5rem, 3vw, 2rem);
    width: min(100vw, 36rem);
    height: min(100vh, 49rem);
}


.input-frame{
    height: max(30%, 12rem);
}
.upper-input{
    height: 50%;
    color: var(--white);
    font-size: 2.4rem;
}
.lower-input{
    width: 85%;
    height: 50%;
    float: right;
    color: var(--grey);
    font-size: 2.4rem;
}
.link{
    background-color: var(--grey);
    border-radius: 50%;
    padding: 1rem .72rem;
    position: relative;
    top: 1.8rem;
    left: .4rem;
}
.link > object{
    pointer-events: none;
    width: 2rem;
    position: relative;
    top: .6rem;
    right: .12rem;
}


.keypad-frame{
    height: 70%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 5.8rem);
}
.key{
    background-color: var(--grey);
    border-radius: 50%;
    color: var(--white);
    font-size: 2.4rem;
}

.sr-only{
    font-size: 0;
}