*, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 10px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator-frame{
    border: 1px solid black;
    width: min(100vw, 36rem);
    height: min(100vh, 49rem);
}
.input-frame{
    height: max(30%, 12rem);
}
.keypad-frame{
    height: 70%;
}