*, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 10px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator-frame{
    border: 1px solid black;
    padding: clamp(0.5rem, 2vw, 1rem) clamp(1.5rem, 3vw, 2rem);
    width: min(100vw, 36rem);
    height: min(100vh, 49rem);
}


.input-frame{
    height: max(30%, 12rem);
}
.upper-input{
    height: 50%;
}
.lower-input{
    width: 85%;
    height: 50%;
    float: right;
}
.link{
    background-color: var(--grey);
}


.keypad-frame{
    height: 70%;
}


.sr-only{
    font-size: 0;
}